* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    /* outline: 1px solid; */
}

:root {
	--bg: #f8fafc;
	--surface: #fff;
	--text: #0f172a;
	--text-secondary: #64748b;
	--border: #e2e8f0;
	--primary: #2363eb;
	--sucess: #16a34a;
	--erro: #dc2626;
}

body {
    background-color: var(--bg);
    color: var(--text);
	font-family: "Poppins", sans-serif;
	font-style: normal;
    line-height: 1.6;
}

/*  header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 24px;
    background-color: rgba(255, 255, 255, .5);
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100vw;
}

.header-logo {
    background-color: var(--primary);
    color: var(--surface);
    padding: 5px 15px;
    border-radius: 6px;
}
.header-title {
    font-size: 24px;
}

.toogle-theme {
    border: 1px solid var(--border);
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.container-product {
    padding: 15px;
}

.container-card {
    padding: 15px;
}

.container {
   display: flex;
   justify-content: center;
   flex-direction: column;
   padding-top: 60px;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    height: 100vh;
    width: 100vw;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
}

.modal-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--surface);
    margin: 10px auto;
    padding: 30px;
    border: 1px solid var(--border);
    border-radius: 12px;
}

.closeModal {
    padding: 6px 8px;
    border-radius: 6px;
    border: none;
    margin-left: 95%;
    cursor: pointer;
}

.form-title {
    font-size: 18px;
    margin: 10px;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.form-input {
    background-color: var(--border);
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 6px;
}

.form-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    gap: 30px;
}

/* buttons */

.btn {
    padding: 10px 20px;
    border-radius: 12px;
    color: var(--surface);
    font-weight: 500;
    border: 1px solid var(--border);
    background-color: var(--primary);
    cursor: pointer;
}

/* card */

.card {
    border: 1px solid var(--border);
}

.card-produto {
    border: 1px solid var(--border);
}
