/* ======================================================== */
/*                          CONTAINER
/* ======================================================== */

.container-product {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-direction: column;
	padding: 15px;
	border: 1px solid var(--border);
	width: 98%;
	padding-top: 40px;
	margin: auto;
	border-radius: 8px;
}

.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-top: 60px;
}

.container-card {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 15px;
	padding: 15px
}

.produtos {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 15px;
	padding: 15px
}

@media (max-width: 769px) {
	.container-card {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	.produtos {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media (max-width: 480px) {
	.container-card {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media (max-width: 480px) {
	.container-card, .produtos {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
}