/* ======================================================== */
/*                          BUTTONS
/* ======================================================== */

.btn {
	padding: 10px 20px;
	border-radius:6px;
	color: var(--text); 
	font-weight: 500;
	border: 1px solid var(--border);
	background-color: var(--primary);
	cursor: pointer;
}

.closeModal {
	background-color: var(--surface);
	color: var(--text);
	border: 1px solid var(--border);
	align-self: flex-end;
	padding: 8px 12px;
	border-radius: 6px;
	border: none;
	cursor: pointer;
}

.btnEditar, .btnRemover {
	color: var(--surface);
	border: none;
	border-radius: 6px;
	padding: 10px;
	cursor: pointer;
}

.btnRemover {
	background-color: var(--erro);
}
.btnEditar {
	background-color: var(--primary);
}